/*
    Created on : 28.2.2020, 12:53:40
    Author     : risberg
*/
.header {
    background-color: $color-pri;
    font-size: 8rem;
    display: flex;
    justify-content: space-evenly;
	align-items: center;
	padding: 1.6rem;
    &__text {
		//padding: 1.6rem;
        &-1 {
            color: whitesmoke;
        }
    }
	&__image {
		//padding: 1.6rem;
	}
}

.image_block {
	&__image {
		width: 64rem;
		height: 32rem;
		object-fit: contain;
	}
}

