/*
    Created on : 28.2.2020, 12:53:40
    Author     : risberg
*/
.header {
    background-color: $color-pri;
    font-size: 8rem;
    display: flex;
    justify-content: space-around;
	align-items: center;
	padding: 1.6rem;
    &__text {
		//padding: 1.6rem;
        &-1 {
            color: whitesmoke;
			//border: 4px solid aqua;
        }
    }
	&__image {
		//padding: 1.6rem;
		//border: 8px solid red;
	}
}

.image_block {
	text-align: right;
	//border: 4px solid green;
	&__image {
		//width: 64rem;
		//height: 32rem;
		width: 100%;
		height: 100%;
		object-fit: contain;
		//border: 2px solid yellow;
	}
}

